<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group" [ngClass]="{'has-error': hasErrorName(f)}">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
          <span class="help-block" *ngIf="hasErrorName(f)">
            <span *ngIf="hasErrorCodeName(f, 'required')">Name is required</span>
          </span>
        </div>
        <div class="col-sm-2 form-group" [ngClass]="{'has-error': hasErrorAmount(f)}">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
          <span class="help-block" *ngIf="hasErrorAmount(f)">
            <span *ngIf="hasErrorCodeAmount(f, 'required')">Amount is required</span>
            <span *ngIf="hasErrorCodeAmount(f, 'pattern')">Amount must be positive</span>
          </span>
        </div>
      </div>
      <div class="row col-xs-12">
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editItem ? 'Update' : 'Add'}}</button>
        <button class="btn btn-danger" type="button" (click)="deleteIngredient()">Delete</button>
        <button class="btn btn-primary" type="button" (click)="reset(f)">Clear</button>
      </div>
    </form>
  </div>
</div>
